/* Icon Text Frame Custom */ 

.icontextframecustom {
  
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);
  }
  
  
  /*SHINY HEADING*/
  .CTABUTTONFUNNELHEADING span ,
  .CTABUTTONFUNNELHEADING strong {
    
   background: linear-gradient(110deg, #FCC201 35%,  rgba(254,215,192,100) 50%, #FCC201 55%,
   #FCC201 100%);
  -webkit-background-clip:text;  
  -webkit-text-fill-color: transparent;
    color: #e6a815 !important;
    background-size: 200%;
    animation: shine 4s infinite;
  }
  
  @keyframes shine {
    0% {
      background-position: 100%;
    }
    
    100% {
      background-position: 0%;
    }
  }
  
  
  
  
  /*Dynamic Date*/
  
  .DynamicDateBlack {
    font-size: 14px;
    color: black;
    text-align:center;
  }
  
  .DynamicDateWhite {
    font-size: 15px;
    color: white;
    text-align:center;
  }
  
  .DynamicDateTop {
    font-size: 18px;
    color: black;
    text-align:left;
  }
  
  
  /*Animated Button*/
  
  /* Animated CTA */ 
  
    
  .animated-button1 {
      background: linear-gradient(-30deg, #FF5C5B 50%, #FF3A39 50%);
  
    padding: 20px 10px;
    margin: 12px;
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    overflow: hidden;
    color: #d4e0f7;
    font-size: 22px;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: Capitalize;
    text-decoration: none;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    font-family: 'IBM Plex Sans';
    font-weight:bold;
    color:white;
  }
  
  .animated-button {
    background: linear-gradient(-30deg, #B11514 50%, #CE2926 50%);
    padding: 20px 40px;
    margin: 12px;
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    overflow: hidden;
    color: #d4e0f7;
    font-size: 20px;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    font-family: 'IBM Plex Sans';
    font-weight:bold;
    color:white;
  }
  
  .animated-button::before,
  .animated-button1::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #8592ad;
    opacity: 0;
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
  }
  
  .animated-button:hover::before,
  .animated-button1:hover::before{
    opacity: 0.2;
  }
  
  .animated-button span,
  .animated-button1 span{
    position: absolute;
  }
  
  .animated-button span:nth-child(1),
  .animated-button1 span:nth-child(1){
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(8, 20, 43, 0)), to(white));
    background: linear-gradient(to left, rgba(8, 20, 43, 0), white);
    -webkit-animation: 2s animateTop linear infinite;
            animation: 2s animateTop linear infinite;
  }
  
  @-webkit-keyframes animateTop {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  
  @keyframes animateTop {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  
  .animated-button span:nth-child(2),
  .animated-button1 span:nth-child(2){
    top: 0px;
    right: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 20, 43, 0)), to(white));
    background: linear-gradient(to top, rgba(8, 20, 43, 0), white);
    -webkit-animation: 2s animateRight linear -1s infinite;
            animation: 2s animateRight linear -1s infinite;
  }
  
  @-webkit-keyframes animateRight {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  
  @keyframes animateRight {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  
  .animated-button span:nth-child(3),
  .animated-button1 span:nth-child(3){
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(8, 20, 43, 0)), to(white));
    background: linear-gradient(to right, rgba(8, 20, 43, 0), white);
    -webkit-animation: 2s animateBottom linear infinite;
            animation: 2s animateBottom linear infinite;
  }
  
  @-webkit-keyframes animateBottom {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  
  @keyframes animateBottom {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  
  .animated-button span:nth-child(4),
  .animated-button1 span:nth-child(4){
    top: 0px;
    left: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 20, 43, 0)), to(white));
    background: linear-gradient(to bottom, rgba(8, 20, 43, 0), white);
    -webkit-animation: 2s animateLeft linear -1s infinite;
            animation: 2s animateLeft linear -1s infinite;
  }
  
  @-webkit-keyframes animateLeft {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
  }
  
  @keyframes animateLeft {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
  }
  
  
  
  /*Sticky Section*/
  
  .my-strike {text-decoration: line-through;}
  .my-underline {text-decoration: underline;}
  
  #StickyPriceBar {
    
  position: fixed;
   bottom: 0;
    z-index: 1000;
  }
  
  /* Put this whole code in custom css */
  .loader {
      width: 50px;
      padding: 8px;
      aspect-ratio: 1;
      border-radius: 50%;
      background: #25b09b;
      --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
      -webkit-mask: var(--_m);
      mask: var(--_m);
      -webkit-mask-composite: source-out;
      mask-composite: subtract;
      animation: l3 1s infinite linear;
    }
    @keyframes l3 {
      to {
        transform: rotate(1turn);
      }
    }